/* Footer design */
#footer {
  background: $footer-brown;
  padding: 30px;
  color: $footer-lightgrey;

  p {
  margin-top: 17px;
  }

  ul {
    margin-top: 10px;
  }

  a {
  color: $footer-lightgrey;
  font-size: 30px;
  letter-spacing: 20px;
  }

  a:hover {
  color: yellow;
  }
}
















