<div id="footer">
  <ul class="list-inline">
    <li><a href=""><i class="fa fa-youtube"></i></a></li>
    <li><a href=""><i class="fa fa-twitter bg-twitter"></i></a></li>
    <li><a href=""><i class="fa fa-facebook bg-facebook"></i></a></li>
    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
  </ul>
  <p>This is a Airbnb Home challenge @ LeWagon</p>
</div>
